*.plist
*.dSYM
*.c~
*.h~
*.db-*
*.db
*-prog
*.swp
#graph.c#
*.class
*.java~
*.class~
dfs
.DS_Store
._.DS_Store
_tmp-results
main
main
queue
sort
bst-test
bfs
prime
skating
random
sortnums
